.signupform {
    background-image: url([[pix:moove|Alogic_01]]); /* Replace with actual image URL */
    background-size: cover;

    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(241, 50, 50, 0.6);
}
