<style>
.dashboard-card {
    
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Hover Effect */
.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
}



</style>
<div class="card dashboard-card {{^visible}}dimmed{{/visible}}" role="listitem" data-region="course-content" data-course-id="{{{id}}}">
    <a href="{{courseurl}}" tabindex="-1">
        <div class="card-img dashboard-card-img" style="background-image: url({{{image}}});">
            <span class="sr-only">{{fullname}}</span>
            <div class="course-category">
                {{{category}}}
            </div>
            {{#hasenrolmenticons}}
                <div class="enrolmenticons d-flex">
                    {{#enrolmenticons}}
                        <div class="enrolmenticon">
                            {{{.}}}
                        </div>
                    {{/enrolmenticons}}
                </div>
            {{/hasenrolmenticons}}
        </div>
    </a>

    <div class="card-body course-info-container">
        <div class="d-flex align-items-start">
            <div class="w-100">
                <a href="{{courseurl}}" class="aalink coursename mr-2 mb-1 {{^visible}}dimmed{{/visible}}">
                    {{{fullname}}}
                </a>
            </div>
        </div>

        <div class="customfields">
            {{{customfields}}}
        </div>

        <div class="course-summary">
            {{{summary}}}
        </div>
    </div>

    {{#hasprogress}}
    <div class="card-footer dashboard-card-footer border-0 progress-container">
        <div class="progress">
            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="{{{progress}}}" style="width: {{{progress}}}%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="progress-text">{{progress}}% Complete</p>
    </div>
    {{/hasprogress}}

    <div class="card-footer course-actions">
        <a href="{{courseurl}}" class="btn-view-course">View Course</a>
    </div>
</div>
