<!-- Sidebar -->
<div  class="sidebar" id="sidebar" style="width:150px">
    <ul class="sidebar-menu">
        <li><a href="{{config.wwwroot}}/my/courses.php"><i class="fa-solid fa-graduation-cap text-light"></i><span class="text-light"> My Learnings</span></a></li>
        <li><a href="{{config.wwwroot}}/grade/report"><i class="fa-solid fa-award text-light"></i><span class="text-light"> Certificates</span></a></li>
        <li><a href="{{config.wwwroot}}/my"><i class="fa-solid fa-house text-light"></i><span class="text-light"> Dashboard</span></a></li>
        <li><a href="{{config.wwwroot}}/user/preferences.php"><i class="fa-solid fa-gear text-light"></i><span class="text-light"> Settings</span></a></li>
    </ul>
</div>

<!-- Toggle Button -->
<button id="sidebarToggle" onclick="sidebarclick()" class="btn btn-danger mt-3 p-1 ">☰</button>

